*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Peddana', serif;
    font-size: 23px;
    
}

body{

    background:black;   

    flex-wrap: wrap;

}

.portada img{
    width: 100%;
    display: flex;
}

/*Menu Desplegable*/

header{
    width: 100%;
    background: #4e4d4d;
    font-size: 15px;
}
#btn_menu{
    display: none;
}
header label{
    width: 100px;
    display: none;
    padding: 15px 20px;
    border-right:1px solid rgb(172, 166, 166) ;
    color: white;
    text-align: center;
}

header label:hover{
    cursor: pointer;
    background: rgba(0, 0,0, 0.3);
}

.menu ul{
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: center;
}
.menu li:hover{
    background: rgba(0, 0,0, 0.3);
}
.menu li a{
    display: block;
    padding: 15px 20px;
    color: rgba(255, 255, 255, 0.801);
}

/*Letras*/
h1{
    font-size: 30px;
}
.encabezado{
    width: 100%;
    font-family: 'Peddana', serif;
    margin: 20px;
    justify-content: center;  
    font-size: 2rem;
}
p{
  font-family: 'Peddana', serif;  
  font-size: 23px;
}