*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Peddana', serif;
}
body{
    background: black;
}

.portada{
    width: 100%;
    display: flex;
}
.encabezado{
    font-size: 25px;
}
p, a{
   font-size:  20px;
}
/*contenedor principal*/

.Contenedor{
  
   width: 90%;      
   background-image: url(https://st2.depositphotos.com/4018531/6795/i/450/depositphotos_67951755-stock-photo-black-and-white-marble-patterned.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 10px 0 30px 0; 
   text-align:center;
   margin: 0 5%;
   justify-content: center;
  
     
     
}
.Contenedor > div{
    flex: 1;
}


/*Tamanio de imagenes */

.producto img{
    width: 300px;
    height: 270px;

}

.producto{
    display:inline-block;
}

.producto:hover{
    opacity: 0.5 ;
    background-color: gray;
}

.producto p{
    text-align: center;
}

/*Fila 1*/
.Fila1{
    width: 95%;  
    height: 30%;
    padding: 5% 0 0 5%;   
    flex-direction: row;
    
}
.Fila1 div{
    margin-left: 5%;
}

/*Fila 2*/
.Fila2{
    width: 95%;
    height: 30%;
    padding: 5% 0 0 5%;   
    /*flex-direction: row;*/

}
.Fila2 div{
    margin-left: 5%;
}
/*Fila 3*/
.Fila3{
    width: 95%;
    height: 30%;
    padding: 5% 0 0 5%;
   /* flex-direction: row;*/

}
.Fila3 div{
    margin-left: 5%;
}
/*Fila 4*/
.Fila4{
    width: 95%;
    height: 30%;
    padding: 5% 0 0 5%;
   /* flex-direction: row;*/

}
.Fila4 div{
    margin-left: 5%;
}
/*Fila 5*/
.Fila5{
    width: 95%;
    height: 30%;
    padding: 5% 0 0 5%;
   /* flex-direction: row;*/

}
.Fila5 div{
    margin-left: 5%;
}
/*Fila 6*/
.Fila6{
    width: 95%;
    height: 30%;
    padding: 5% 0 0 5%;
   /* flex-direction: row;*/

}
.Fila6 div{
    margin-left: 5%;
}
/*Fila 7*/
.Fila7{
    width: 95%;
    height: 30%;
    padding: 5% 0 0 5%;
   /* flex-direction: row;*/

}
.Fila7 div{
    margin-left: 5%;
}
/*Fila 8*/
.Fila8{
    width: 95%;
    height: 30%;
    padding: 5% 0 0 5%;
   /* flex-direction: row;*/

}
.Fila8 div{
    margin-left: 5%;
}
/*Fila 9*/
.Fila9{
    width: 95%;
    height: 30%;
    padding: 5% 0 0 5%;
   /* flex-direction: row;*/

}
.Fila9 div{
    margin-left: 5%;
}


/*Fila 6*/
.Bioseguridad{
  
   width: 90%;      
   background-image: url(https://st2.depositphotos.com/4018531/6795/i/450/depositphotos_67951755-stock-photo-black-and-white-marble-patterned.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   margin: 30px 30px 0px 5%;
   padding: 10px 0 30px 0; 
   text-align: center; 

   /*display: flex;*/
     
}



.Fila10{
    width: 95%;
    padding: 40px 0px 0px 0px;
    margin-left: -10px;
    display: inline-block;
    

}
.Fila10 div{
    margin-left: 5%;
}
/*Fila 11*/
.Fila11{
    width: 95%;
    padding: 40px 0px 0px 0px;
    display: inline-block;
    

}
.Fila11 div{
    margin-left: 5%;
}
/*Fila 12*/
.Fila12{
    width: 95%;
    padding: 40px 0px 0px 0px;
    display: inline-block;
    

}
.Fila12 div{
    margin-left: 5%;
}


 /*............FOOTER............. */

 footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1 {
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

@media screen and (max-width:500px){
    .Contenedor{
        width: 100%;   
        margin: 0px;
    }
    .producto img{
        width: 100%;
        height: 25%;
    }
    .Bioseguridad{
        width: 100%;
        margin: 30px 0px 0px 0px;
    }
    .portada{
        width: 100%;
        display: flex;
    }
   
}
